@model IEnumerable<Biz_collab.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseCall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryFeeDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryFeeUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryFeeVIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryFeeMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinPlus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinMinus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryFeeDon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseCall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinMinus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryFeeUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryFeeVIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryFeeMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPlus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
