@model Biz_collab.Models.Group
@{
    ViewData["Title"] = "JoinGroup";
}

<h1>JoinGroup- кем будете?</h1>
<div class="form-group">
    <form asp-action="JoinGroup">
        <div class="form-group" method="post">
            <label for="1" class="control-label">
                <input type="radio" id="1"  value="1" name="sum" />
                Донатером(Не можете ставить на голосование ,но можете голосовать и пополнять счет группы)
                Требуется @Model.EntryFeeDon у.е
            </label>
            @if (Model.Type == 2)
            {
                if (ViewBag.PersBudget >= Model.EntryFeeUser)
                {
                    <label for="2" class="control-label">
                        <input type="radio" id="2" onclick="JoinGroup()" value="2" name="sum" />
                        Участник(можете ставить на голосование и пополнять счет)
                        Требуется @Model.EntryFeeUser у.е
                    </label>
                }
                if (ViewBag.PersBudget >= Model.EntryFeeVIP)
                {
                    <label for="3" class="control-label">
                        <input type="radio" id="3" onclick="JoinGroup()" value="3" name="sum" />
                        VIP(можете ставить на голосование и пополнять счет).Голос равен 1/4 сумме участников
                        Требуется @Model.EntryFeeVIP у.е
                    </label>
                }
                if (ViewBag.PersBudget >= Model.EntryFeeMod)
                {
                    <label for="4" class="control-label">
                        <input type="radio" id="4" onclick="JoinGroup()" value="4" name="sum" />
                        Модератор(можете ставить на голосование и пополнять счет).Голос равен 1/2 сумме участников
                        Требуется @Model.EntryFeeMod у.е
                    </label>
                }
            }
            <input type="hidden"  value="@Model.Id" name="id">
        </div>
        <div class="form-group">
            <input type="submit" value="Join" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Вернуться на главную</a>
</div>