@model Biz_collab.Models.Group
@{
    ViewData["Title"] = "Группа " + Model.Name;
}

<h1>Container</h1>
<dl class="row">
    <dt class="col-sm-2">
        Бюджет:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Budget)
    </dd>
    <dt class="col-sm-2">
        Количество клиентов:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Clients.Count)
    </dd>
    @if (Model.Clients.FirstOrDefault(rp => rp.GroupId == Model.Id && rp.Client.Login == User.Identity.Name && (rp.R == "Создатель" || rp.R == "Mod")) != null)
    {
        @foreach (var c in Model.Clients)
        {
            if (c.Client.Login == User.Identity.Name)
            {
                <dd class="col-sm-10">
                    <b style="background-color:rebeccapurple;">   @c.Client.Login | @c.R | @c.P </b> @*Желательно поместить где-то сбоку для пользователя*@
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    @c.Client.Login | @c.R | @c.P
                </dd>
            }
            @if (c.R != "Создатель")
            {
                @if (c.R != "Забанен")
                {
                    <dd class="col-sm-10">
                        <a asp-controller="Groups" asp-action="EditRoleClient" asp-route-Login="@c.Client.Login" asp-route-name="@Model.Name">Кнопка изменить роль</a> |
                        <a asp-controller="Groups" asp-action="BanClient" asp-route-Login="@c.Client.Login" asp-route-name="@Model.Name">Кнопка забанить</a>
                        @*имеет смысл где внос за роли(хочешь назад-плати) <a asp-controller="Groups" asp-action="DeleteClient" asp-route-Login="@c.Client.Login" asp-route-name="@Model.Id">Кнопка удалить</a> *@
                    </dd>
                }
                else
                {
                    <dd class="col-sm-10">
                        <a asp-controller="Groups" asp-action="EditRoleClient" asp-route-Login="@c.Client.Login" asp-route-name="@Model.Name">Кнопка изменить роль</a>                       
                    </dd>
                }

            }
        }
    }
    else
    {
        @foreach (var c in Model.Clients)
        {
            if (c.Client.Login == User.Identity.Name)
            {
                <dd class="col-sm-10">
                    <b style="background-color:tomato;">   @c.Client.Login | @c.R | @c.P </b>
                </dd>
            }
            else
            {
                <dd class="col-sm-10">
                    @c.Client.Login | @c.R | @c.P
                </dd>
            }
        }
    }
</dl>
<form asp-action="OpenGroup"  method="get">
    <div class="form-actions no-color">
        <p>
            Найти транзакцию(по логину,роли или описанию): <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="hidden" name="name" value="@Model.Name" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="OpenGroup" asp-route-name="@Model.Name">Вернуться к полному списку</a>
        </p>
    </div>
</form>

<dl class="row">
    <dt class="col-sm-2">
        Транзакции
    </dt>
    <dd class="col-sm-10">
        Количество: @ViewBag.Count
        @if (Model.Clients.FirstOrDefault(rp => rp.GroupId == Model.Id && rp.Client.Login == User.Identity.Name && (rp.R == "Забанен")) == null)
        {
            <a asp-controller="Transactions" asp-action="Create" asp-route-name="@Model.Name">+Новая транзакция</a>
        }
    </dd>
</dl>
@if (Model.Type == 2)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Описание
                </th>
                <th>
                    <a asp-action="OpenGroup" asp-route-name="@Model.Name" asp-route-sortOrder="@ViewData["AmountSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Сумма</a>
                </th>
                <th>
                    <a asp-action="OpenGroup" asp-route-name="@Model.Name" asp-route-sortOrder="@ViewData["OperationTypeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Тип</a>
                </th>
                <th>
                    <a asp-action="OpenGroup" asp-route-name="@Model.Name" asp-route-sortOrder="@ViewData["ClientNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Клиент</a>
                </th>
                <th>
                    <a asp-action="OpenGroup" asp-route-name="@Model.Name" asp-route-sortOrder="@ViewData["TimeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Статус/Время создания</a>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in ((PaginatedList<Transaction>)ViewBag.Transactions))
            {
            <tr>
                <td>
                    @t.Explanation
                </td>
                @if (t.OperationType == 3)
                {
                    <td>
                        <b>+ </b> @t.Amount
                    </td>
                }
                else
                {
                    <td>
                        <b>- </b> @t.Amount
                    </td>
                }

                @if (t.OperationType == 1)
                {
                    <td>
                        <b>трата бюджета  на внешние источники </b>@*Заменить на glyphicon !!!*@
                    </td>
                }
                else if (t.OperationType == 2)
                {
                    <td>
                        <b>перевод с счета группы на счет пользователя</b>@*Заменить на glyphicon !!!*@
                    </td>
                }
                else if (t.OperationType == 3)
                {
                    <td>
                        <b>перевод с счета пользователя  на счет группы</b>@*Заменить на glyphicon !!!*@
                    </td>
                }
            <td>
                @t.Client.Login -- @t.Client.MyGroups.First(rp=>rp.GroupId==t.GroupId).R
            </td>
                @if (t.Status == false)
                {
                    <td>
                        Ожидание@*Заменить на значок часов или подобное*@
                    </td>
                    @if (t.Votes.FirstOrDefault(v => v.Client.Login == User.Identity.Name) == null)
                    {
                        @*Заменить на иконки!*@
                        <td>
                            <a asp-controller="Transactions" asp-action="VoteYes" asp-route-id="@t.Id">За</a> |
                            <a asp-controller="Transactions" asp-action="VoteNo" asp-route-id="@t.Id">Против</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            @*Отражение процента голосов*@
                            <b style="background-color:limegreen;"> @Math.Round((decimal)t.YesPercent,2)</b> |
                            <b style="background-color:tomato;"> @Math.Round((decimal)t.NoPercent, 2)</b>
                        </td>
                    }
                    @if (User.Identity.Name == t.Client.Login && t.Status == false)
                    {
                        <td>
                            <a asp-controller="Transactions" asp-action="Delete" asp-route-id="@t.Id">Удалить</a>
                            <a asp-controller="Transactions" asp-action="Details" asp-route-id="@t.Id">Детали</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-controller="Transactions" asp-action="Details" asp-route-id="@t.Id">Детали</a>
                        </td>
                    }
                }
                else
                {
                    <td>
                        @t.StartTime
                    </td>
                    <td>
                        @*Отражение процента голосов*@
                        <b style="background-color:limegreen;">@Math.Round((decimal)t.YesPercent, 2)</b> |
                        <b style="background-color:tomato;"> @Math.Round((decimal)t.NoPercent, 2)</b>
                    </td>
                    <td>
                        <a asp-controller="Transactions" asp-action="Details" asp-route-id="@t.Id">Детали</a>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Описание
                </th>
                <th>
                    <a asp-action="OpenGroup" asp-route-name="@Model.Name" asp-route-sortOrder="@ViewData["AmountSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Сумма</a>
                </th>
                <th>
                    <a asp-action="OpenGroup" asp-route-name="@Model.Name" asp-route-sortOrder="@ViewData["OperationTypeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Тип</a>
                </th>
                <th>
                    <a asp-action="OpenGroup" asp-route-name="@Model.Name" asp-route-sortOrder="@ViewData["TimeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Время создания</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in ((PaginatedList<Transaction>)ViewBag.Transactions))
            {
            <tr>
                <td style="word-break:break-all;">
                    @t.Explanation
                </td>
                @if (t.OperationType == 3)
                {
                    <td>
                        <b>+ </b> @t.Amount
                    </td>
                }
                else
                {
                    <td>
                        <b>- </b> @t.Amount
                    </td>
                }

                @if (t.OperationType == 1)
                {
                    <td>
                        <b>трата бюджета  на внешние источники </b>@*Заменить на glyphicon !!!*@
                    </td>
                }
                else if (t.OperationType == 2)
                {
                    <td>
                        <b>перевод с счета группы на счет пользователя</b>@*Заменить на glyphicon !!!*@
                    </td>
                }
                else if (t.OperationType == 3)
                {
                    <td>
                        <b>перевод с счета пользователя  на счет группы</b>@*Заменить на glyphicon !!!*@
                    </td>
                }
                <td>
                    @t.StartTime
                </td>
                <td>
                    <a asp-controller="Transactions" asp-action="Details" asp-route-id="@t.Id">Детали</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<dl class="row">
    <dt class="col-sm-2">
        Графики
    </dt>
    @* canvas and bla bla draw
                }*@
</dl>

@{
    var prevDisabled = !ViewBag.Transactions.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !ViewBag.Transactions.HasNextPage ? "disabled" : "";
}

<a asp-action="OpenGroup"
   asp-route-name="@Model.Name"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(ViewBag.Transactions.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    <<
</a>
<a asp-action="OpenGroup"
   asp-route-name="@Model.Name"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(ViewBag.Transactions.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    >>
</a>



<div>
    <a asp-action="Index" asp-controller="Home">Назад на главную</a>
</div>