@model Biz_collab.Models.Group
@{ ViewData["Title"] = "Группа " + Model.Name; }
<div style="display: flex;">
    <div class="graphics-box">
        <div class="chart" align="center">
            <h2 class="c-g f-s-1rem my-balance">Бюджет</h2>
            <div id="budget_chart"></div>
        </div>
        <div class="chart" align="center">
            <h2 class="c-g f-s-1rem my-balance">Производительность</h2>
            <div class="gr">
                <div id="client_chart"></div>
            </div>
        </div>
        <div class="chart" align="center">
            <div class="gr">
                <div id="res_chart"></div>
            </div>
        </div>
    </div>

    <div class="transactions-box">
        <h2 class="c-g f-s-1rem" style="margin-top: 5px; margin-bottom: 5px;">Группа: @Model.Name</h2>
        <h4 class="c-g">
            Транзакции
            <a class="add-tranzaction-btn modal-link" href="@Url.Action("Create", "Transactions", new { @Model.Name })" title="Создать новую транзакцию"><i class="fas fa-plus-circle"></i></a>
        </h4>
        <form asp-action="OpenGroup" method="get">
            <div class="form-actions no-color search-box" style="width: auto">
                <input type="text" class="bg-b" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Поиск..." />
                <input type="hidden" name="name" value="@Model.Name" />
                <button class="search-text-btn">
                    <i class="fas fa-search"></i>
                </button>
                <a asp-action="OpenGroup" asp-route-name="@Model.Name">Вернуться к полному списку</a>
            </div>
        </form>
        <table class="default-table">
            <thead>
                <tr>
                    <td>
                        Описание
                    </td>
                    <td>
                        <a asp-action="OpenGroup" asp-route-name="@Model.Name" asp-route-sortOrder="@ViewData["AmountSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Сумма</a>
                    </td>
                    <td>
                        <a asp-action="OpenGroup" asp-route-name="@Model.Name" asp-route-sortOrder="@ViewData["OperationTypeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Тип</a>
                    </td>
                    <td>
                        <a asp-action="OpenGroup" asp-route-name="@Model.Name" asp-route-sortOrder="@ViewData["ClientNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Клиент</a>
                    </td>
                    <td>
                        <a asp-action="OpenGroup" asp-route-name="@Model.Name" asp-route-sortOrder="@ViewData["TimeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Статус/Время</a>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in ((PaginatedList<Transaction>)ViewBag.Transactions))
                {
                    <tr class="transaction-tr">
                        <td style="max-width: 320px;overflow-wrap: break-word;word-break: break-word;white-space: normal;">
                            @transaction.Explanation
                        </td>
                        <td>
                            @if (transaction.OperationType == 3)
                            {
                                <i>+@transaction.Amount</i>
                            }
                            else
                            {
                                <i>-@transaction.Amount</i>
                            }
                        </td>
                        @if (transaction.OperationType == 1)
                        {
                            <td>
                                <i class="fas fa-share-square"></i>
                            </td>
                        }
                        else if (transaction.OperationType == 2)
                        {
                            <td>
                                <i class="fas fa-exchange-alt"></i>
                            </td>
                        }
                        else if (transaction.OperationType == 3)
                        {
                            <td>
                                <i class="fa fa-gift"></i>
                            </td>
                        }
                        <td>
                            @transaction.Client.Login
                        </td>
                        @if (transaction.Status)
                        {
                            <td>
                                <i class="fas fa-check-circle"></i>
                                @transaction.StartTime
                            </td>
                        }
                        else
                        {
                            <td>
                                <i class="fas fa-clock"></i>
                            </td>
                            @if (transaction.Votes.FirstOrDefault(v => v.Client.Login == User.Identity.Name) == null)
                            {
                                <td>
                                    <a asp-controller="Transactions" asp-action="VoteYes" asp-route-id="@transaction.Id"><i class="fas fa-thumbs-up"></i></a>
                                </td>
                                <td>
                                    <a asp-controller="Transactions" asp-action="VoteNo" asp-route-id="@transaction.Id"><i class="fas fa-thumbs-down"></i></a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <b style="color:green"> @Math.Round((decimal)transaction.YesPercent, 2)</b> /
                                    <b style="color:red"> @Math.Round((decimal)transaction.NoPercent, 2)</b>
                                </td>
                            }
                        }
                        <td>
                            <a class="modal-link" href="@Url.Action("Details", "Transactions", new { transaction.Id })">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </td>
                        @if (User.Identity.Name == transaction.Client.Login && transaction.Status == false)
                        {
                            <td>
                                <a class="modal-link" href="@Url.Action("Delete", "Transactions", new { transaction.Id })">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>


        <div align="right" style="margin-right: 20px;">
            @{
                var prevDisabled = !ViewBag.Transactions.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !ViewBag.Transactions.HasNextPage ? "disabled" : "";
            }

            <a asp-action="OpenGroup"
               asp-route-name="@Model.Name"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(ViewBag.Transactions.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled"
               style="color:#adadad">
                <<
            </a>
            <a asp-action="OpenGroup"
               asp-route-name="@Model.Name"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(ViewBag.Transactions.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled"
               style="color: #adadad">
                >>
            </a>
        </div>
    </div>
    <div class="participants-box" align="center" style="height:300px">
        @{var currentuserrole = Model.Clients.FirstOrDefault(c => c.Client.Login == User.Identity.Name).R; }

        @if (currentuserrole == "Creator" || currentuserrole == "Mod")
        {
        <h2 class="alls">Клиенты  <a class="modal-link" href="@Url.Action("InviteClient", "Groups", new { name = Model.Name })" title="Добавить участника"><i class="fas fa-user-plus"></i></a> </h2>
        }
        else
        {
            <h2 class="alls">Клиенты</h2>
        }

    <table class="default-table scroll" style="overflow-x: hidden; overflow-y: auto; text-align: justify;">

        @foreach (var client in Model.Clients)
        {
            var currentuser = User.Identity.Name == client.Client.Login ? "currentuser" : "";
            <tr>
                <td class="@currentuser">
                    @client.Client.Login
                </td>
                <td class="@currentuser">
                    @client.R
                </td>
                <td class="@currentuser">
                    @client.P
                </td>
                @if (currentuser == "")
                {
                    @if (((IEnumerable<dynamic>)ViewBag.MutedName).Any(m => m.Name == client.Client.Login) == false)
                    {//не заглушены
                        <td>
                            <a title="Заглушить участника" href="@Url.Action("Mute", "Notifications", new { name = client.Client.Login })">
                                <i class="fas fa-user-slash"></i>
                            </a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a title="Включить участника" href="@Url.Action("Mute", "Notifications", new {  name = client.Client.Login })">
                                <i class="fas fa-user"></i>
                            </a>
                        </td>
                    }
                }
                @if (currentuserrole == "Creator" || currentuserrole == "Mod")
                {
                    @if (client.R != "Creator" && client.Client.Login != User.Identity.Name)
                    {
                        @if (client.R != "Забанен")
                        {
                            <td>
                                <a asp-controller="Groups" asp-action="BanClient" asp-route-Login="@client.Client.Login" asp-route-name="@Model.Name">
                                    <i class="fas fa-ban @currentuser"></i>
                                </a>
                            </td>
                        }
                        <td>
                            <a class="modal-link" href="@Url.Action("EditRoleClient", "Groups", new { Login = client.Client.Login, name = Model.Name })" title="Изменить роль участника">
                                <i class="fas fa-edit @currentuser"></i>
                            </a>
                        </td>
                    }
                }
            </tr>
        }


    </table>
        
    </div>
    <div class="chat-box styles">
        <h2 class="alls">Чат</h2>
        <div class="scroll-box" id="chatroom" style="height:350px">
            @foreach (var message in Model.Messages.Reverse())
            {
                @if (message.Name == Context.User.Identity.Name.Substring(0, Context.User.Identity.Name.LastIndexOf("@")))
                {
                    <div class="chat-usercontainer">

                        <div class="style-username">
                            @message.Name
                        </div>
                        <div class="style-usermassage-text">
                            @message.Text
                        </div>
                        <div class="style-time">
                            @message.Time.ToString("dd/MM HH:mm:ss")
                        </div>
                    </div>
                }
                else
                { <div class="chat-container">
                        <div class="style-name">
                            @message.Name
                        </div>
                        <div class="style-massage-text">
                            @message.Text
                        </div>
                        <div class="style-time">
                            @message.Time.ToString("dd/MM HH:mm:ss")
                        </div>
                    </div>
                }
            }
        </div>
        <div id="inputForm">
            <input type="text" id="message" class="style-field" />
            <input class="style-button" type="button" id="sendBtn" value="Отправить" />
        </div>
    </div>
</div>
<script src="../js/signalr/dist/browser/signalr.min.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();
    hubConnection.serverTimeoutInMilliseconds = 1000 * 60 * 10;
    async function start() {
        try {
            await hubConnection.start();
            console.log("SignalR Connected.");
        } catch (err) {
            console.log(err);
            setTimeout(start, 5000);
        }
    };

    hubConnection.onclose(start);

    // Start the connection.
    start();
    var groupname = "@Model.Name";
    hubConnection.on("Notify", function (message) {

        hubConnection.invoke("AddGr", groupname);
        console.log('notify');
    });
    // получение сообщения от сервера
    hubConnection.on('Receive', function (name, text, time, nday) {
        var firstElem = document.getElementById("chatroom").firstChild;
        let isCurrentUserMessage = name =='@Context.User.Identity.Name.Substring(0, Context.User.Identity.Name.LastIndexOf("@"))';
        // создаем элемент <div> для имени пользователя
        let userNameElem = document.createElement("div");
        userNameElem.classList.add( isCurrentUserMessage ? "style-username" : "style-name");
        userNameElem.appendChild(document.createTextNode(name + ': '));
        // создает элемент <div> для сообщения пользователя
        let textElem = document.createElement("div");
        textElem.classList.add(isCurrentUserMessage ? "style-usermassage-text" : "style-massage-text");
        textElem.appendChild(document.createTextNode(text));
        // создаем элемент <div> для времени отправки пользователя
        let timeElem = document.createElement("div");
        timeElem.classList.add("style-time");
        timeElem.appendChild(document.createTextNode(time));
        // создает элемент <div> для сообщения пользователя
        let container = document.createElement('div');
        container.classList.add(isCurrentUserMessage ? "chat-usercontainer" : "chat-container");
        container.appendChild(userNameElem);
        container.appendChild(textElem);
        container.appendChild(timeElem);
        document.getElementById("chatroom").insertBefore(container, firstElem);
        if (nday != null) {
            // добавляет элемент для диагностического сообщения
            let notifyElem = document.createElement("b");
            notifyElem.appendChild(document.createTextNode(nday));
            let elem = document.createElement("p");
            //let elem = document.createElement("div");
            //elem.classList.add("nday");
            elem.appendChild(notifyElem);
            document.getElementById("chatroom").insertBefore(elem, firstElem);
        }
    });

    // отправка сообщения на сервер
    document.addEventListener("keypress", function (e) {
        if (e.keyCode == 13) {
            document.getElementById("sendBtn").click();
        }
    });
    document.getElementById("sendBtn").addEventListener("click", function (e) {
        var text = document.getElementById("message").value;
        if (text != "") {

            var notify = [];
            var cRole="@Model.Clients.FirstOrDefault(c => c.Client.Login == User.Identity.Name).R";
            if (cRole == "Creator" || cRole == "Mod" || cRole == "VIP") {
                // all, Mod, VIP, User, Don, Oneuser
                var regex = new RegExp(/(?<=[\s])@("@")(all|Mod|VIP|User|Don|[^\s]+@("@")[^\s]+\.[^\s\.]+)$|^@("@")(all|Mod|VIP|User|Don|[^\s]+@("@")[^\s]+\.[^\s\.]+)(?=[\s])|(?<=[\s])@("@")(all|Mod|VIP|User|Don|[^\s]+@("@")[^\s]+\.[^\s\.]+)(?=[\s])|^@("@")(all|Mod|VIP|User|Don|[^\s]+@("@")[^\s]+\.[^\s\.]+)$/giu);
                if (text.match(regex) != null && text.match(regex).length > 0) {
                    if (text.match(regex).includes("@("@")all")) { notify[0] = "all"; }
                    else {
                        for (let i = 0; i < text.match(regex).length; i++) {
                            if (text.match(regex)[i] == "@("@")Mod") { notify[i] = "Mod"; }
                            else if (text.match(regex)[i] == "@("@")VIP") { notify[i] = "VIP"; }
                            else if (text.match(regex)[i] == "@("@")User") { notify[i] = "User"; }
                            else if (text.match(regex)[i] == "@("@")Don") { notify[i] = "Don"; }
                            else { notify[i] = text.match(regex)[i].substring(1); }
                        }
                    }
                }
            }
            hubConnection.invoke("Send", text, groupname, notify);
            document.getElementById("message").value = '';
            }
    });


</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawCharts);

    var base_options = {
        backgroundColor: '#202020',
        hAxis: {
            textStyle: { color: '#adadad' }
        },
        vAxis: {
            textStyle: { color: '#adadad' }
        },
        legend: { position: 'none' },
    };

    function get_budget_data() {

        var amounts = @ViewBag.trans_amounts;
        var dates = @ViewBag.trans_dates;
        var curbudget = @Model.Budget;
        var today = (new Date()).toLocaleDateString();

        var data = [
            ["Дата", "Бюджет"],
        ];

        for (let i = 0; i < amounts.length; i++) {

            let date = dates[i];
            date = new Date(date[0], date[1] - 1, date[2]).toLocaleDateString();

            if (data[data.length - 1][0] != date) {
                data.push([date, amounts[i]]);
            } else {
                data[data.length - 1][1] += amounts[i];
            }
        }
        for (let i = data.length - 1; i > 0; i--) {
            curbudget -= data[i][1];
            data[i][1] = curbudget;
        }
        if (data[data.length - 1][0] != today)
            data.push([(new Date()).toLocaleDateString(), @Model.Budget]);
        else
            data[data.length - 1][1] = @Model.Budget;

        return data;
    }

    function get_client_data() {
        var clients = @Html.Raw(ViewBag.clients);
        var clients_trans = @ViewBag.clients_trans;
        var data = [
            ["Пользователь", "Количество транзакций", { role: 'style' }],
        ];

        for (let i = 0; i < clients.length; i++) {
            if (i % 2) {
                data.push([clients[i], clients_trans[i], '#ec86ec']);
            } else {
                data.push([clients[i], clients_trans[i], '#8937df']);
            }
        }
        return data;
    }

    function drawBudgetChart() {
        data = google.visualization.arrayToDataTable(get_budget_data());

        let options = base_options;
        options['curveType'] = 'function';
        options['series'] = {
            0: {
                color: '#8937df',
            }
        };

        var chart = new google.visualization.AreaChart(document.getElementById('budget_chart'));

        chart.draw(data, options);
    }

    function drawClientChart() {
        var data = google.visualization.arrayToDataTable(get_client_data());

        let options = base_options;
        options['bar'] = {
            groupWidth: '10%',
        };

        var chart = new google.visualization.ColumnChart(document.getElementById("client_chart"));
        chart.draw(data, options);
    }

    function drawResChart() {
        var data = google.visualization.arrayToDataTable([
            ["Описание", "Сумма"],
            ["Потрачено", @ViewBag.total_spent],
            ["Получено", @ViewBag.total_recieved]
            ]);

        let options = base_options;
        options['slices'] = {
            0: {
                color: '#8937df'
            },
            1: {
                color: '#ec86ec'
            },
        };
        options['legend'] = {
            textStyle: {
                color: '#969696',
            },
        };

        var chart = new google.visualization.PieChart(document.getElementById("res_chart"));
        chart.draw(data, options);
    }

    function drawCharts() {
        drawBudgetChart();
        drawClientChart();
        drawResChart();
    }
</script>
