@model PaginatedList<Biz_collab.Models.Group>

@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Найти по названию группы: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Вернуться к полному списку</a>
        </p>
    </div>
</form>

<h1>Топ-5 популярных групп</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Название</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BudgetSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Бюджет</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ClientAmountSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Кол-во клиентов</a>
            </th>
            <th>
                Тип
            </th>
            <th>
                Спор
            </th>
            <th>
                Вход Дона
            </th>
            <th>
                Вход Юзера
            </th>
            <th>
                Вход VIP
            </th>
            <th>
                Вход Модера
            </th>
            <th>
                Мин Плюс
            </th>
            <th>
                Мин Вычет
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clients.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                @if (item.CloseCall == true)
                {
                    <td>
                        Принять
                    </td>
                }
                else
                {
                    <td>
                        Удалить
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.EntryFeeDon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryFeeUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryFeeVIP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryFeeMod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinPlus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinMinus)
                </td>
                <td>
                    @if (ViewBag.PersBudget >= item.EntryFeeDon || ViewBag.PersBudget >= item.EntryFeeUser || ViewBag.PersBudget >= item.EntryFeeMod || ViewBag.PersBudget >= item.EntryFeeVIP)
                    {
                        <a asp-controller="Groups" asp-action="OpenGroup" asp-route-name="@item.Name">[Открыть группу]   </a>
                    }
                    @if (item.Clients.FirstOrDefault(rp => rp.Client.Login == User.Identity.Name && rp.R == "Создатель") != null)
                    {
                        <a asp-controller="Groups" asp-action="Edit" asp-route-name="@item.Name">[Изменить] </a>
                        <a asp-controller="Groups" asp-action="Delete" asp-route-name="@item.Name">[Удалить]   </a>
                    }
                    @Html.ActionLink("Инфо", "Details", "Groups", new { name = item.Name }, new { @class = "details" })
                </td>
            </tr>
        }

    </tbody>
</table>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<h1>Мои группы</h1>
<p>
    <a asp-controller="Groups" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Название</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BudgetSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Бюджет</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ClientAmountSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Кол-во клиентов</a>
            </th>
            <th>
                Тип
            </th>
            <th>
                Спор
            </th>
            <th>
                Вход Дона
            </th>
            <th>
                Вход Юзера
            </th>
            <th>
                Вход VIP
            </th>
            <th>
                Вход Модера
            </th>
            <th>
                Мин Плюс
            </th>
            <th>
                Мин Вычет
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.MyCreatedGroups)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Budget
                </td>
                <td>
                    @item.Clients.Count
                </td>
                <td>
                    @item.Type
                </td>
                @if (item.CloseCall == true)
                {
                    <td>
                        Принять
                    </td>
                }
                else
                {
                    <td>
                        Удалить
                    </td>
                }
                <td>
                    @item.EntryFeeDon
                </td>
                <td>
                    @item.EntryFeeUser
                </td>
                <td>
                    @item.EntryFeeVIP
                </td>
                <td>
                    @item.EntryFeeMod
                </td>
                <td>
                    @item.MinPlus
                </td>
                <td>
                    @item.MinMinus
                </td>
                <td>
                    <a asp-controller="Groups" asp-action="OpenGroup" asp-route-name="@item.Name">[Открыть группу]   </a>
                    <a asp-controller="Groups" asp-action="Edit" asp-route-name="@item.Name">[Изменить]   </a>
                    @Html.ActionLink("Инфо", "Details", "Groups", new { name = item.Name }, new { @class = "details" })
                    <a asp-controller="Groups" asp-action="Delete" asp-route-name="@item.Name">[Удалить]</a>
                </td>
            </tr>
        }
        @foreach (var item in ViewBag.MyGroups)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Budget
                </td>
                <td>
                    @item.Clients.Count
                </td>
                <td>
                    @item.Type
                </td>
                @if (item.CloseCall == true)
                {
                    <td>
                        Принять
                    </td>
                }
                else
                {
                    <td>
                        Удалить
                    </td>
                }
                <td>
                    @item.EntryFeeDon
                </td>
                <td>
                    @item.EntryFeeUser
                </td>
                <td>
                    @item.EntryFeeVIP
                </td>
                <td>
                    @item.EntryFeeMod
                </td>
                <td>
                    @item.MinPlus
                </td>
                <td>
                    @item.MinMinus
                </td>
                <td>
                    <a asp-controller="Groups" asp-action="OpenGroup" asp-route-name="@item.Name">[Открыть группу]   </a>
                    @Html.ActionLink("Инфо", "Details", "Groups", new { name = item.Name }, new { @class = "details" })
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    <<
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    >>
</a>