@model Biz_collab.Models.Transaction

@{ ViewData["Title"] = "Create"; }

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                Бюджет:@ViewBag.Budget
            </div>
            @if (ViewBag.Role != "Донатер")
            {
                <div class="form-group form-check">
                    <label asp-for="OperationType" class="control-label">Вид Транзакции</label>
                    <label for="1">
                        <span class="glyphicon glyphicon-plus">
                            <input type="radio" asp-for="OperationType" id="1" value="1">
                        </span>
                        Потратить из группового бюджета
                    </label>
                    <label for="2">
                        <span class="glyphicon glyphicon-cloud-download">
                            <input type="radio" asp-for="OperationType" id="2" value="2">
                        </span>
                        Перевести на свой счет
                    </label>
                    <label for="3">
                        <span class="glyphicon glyphicon-cloud-upload">
                            <input type="radio" asp-for="OperationType" id="3" value="3">
                        </span>
                        Перевести на счет группы
                    </label>
                    <span asp-validation-for="OperationType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input oninput="Trans()" id="input" type="number" asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group form-check">
                    <label asp-for="OperationType" class="control-label">Вид Транзакции:    </label>
                    <label for="3">
                        <span class="glyphicon glyphicon-cloud-upload">
                            <input type="hidden" asp-for="OperationType" id="3" value="3">
                        </span>
                        Перевести на счет группы
                    </label>
                    <span asp-validation-for="OperationType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input oninput="Trans2()" id="input" type="number" asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Explanation" class="control-label"></label>
                <input asp-for="Explanation" class="form-control" />
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" asp-route-name="@ViewBag.Name" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
  function Trans() {
    var x = document.getElementById("input").value;
    var y =@ViewBag.Budget;
    var z =@ViewBag.PersBudget;
      if (document.getElementById("1").checked && Math.abs(x) <= y) {
          document.getElementById("input").setAttribute("min", @ViewBag.MinMinus);
          document.getElementById("input").value = Math.abs(x);
    }
      else if (document.getElementById("2").checked && Math.abs(x) <= y && Math.abs(x) + z < 2147483647) {
          document.getElementById("input").setAttribute("min", @ViewBag.MinMinus);
          document.getElementById("input").value = Math.abs(x);
      }
      else if (document.getElementById("3").checked && Math.abs(x) <= z && Math.abs(x) + y < 2147483647) {
          document.getElementById("input").setAttribute("min", @ViewBag.MinPlus);
          document.getElementById("input").value = Math.abs(x);
    }
    else  document.getElementById("input").value = 0;
    }
    function Trans2() {
    var x = document.getElementById("input").value;
    var y =@ViewBag.Budget;
    var z =@ViewBag.PersBudget;
        document.getElementById("input").setAttribute("min", @ViewBag.MinPlus);
        if (Math.abs(x) <= z && Math.abs(x) + y < 2147483647)
        {
          document.getElementById("input").value = Math.abs(x);
        }
         else  document.getElementById("input").value = 0;
    }
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
