@model Biz_collab.Models.Transaction

@{ ViewData["Title"] = "Создать транзакцию"; }

<div class="modal-content mdl">
    <form asp-action="Create" class="login100-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (ViewBag.Role != "Don")
        {
            <div class="form-group form-check">
                <label asp-for="OperationType" class="control-label">Вид Транзакции: </label>
                <br />
                <label for="1">
                    <span class="glyphicon glyphicon-plus">
                        <input type="radio" asp-for="OperationType" id="1" value="1" checked="checked">
                    </span>
                    Потратить из группового бюджета <i class="fas fa-share-square"></i>
                </label>
                <br />
                <label for="2">
                    <span class="glyphicon glyphicon-cloud-download">
                        <input type="radio" asp-for="OperationType" id="2" value="2">
                    </span>
                    Перевести на свой счет  <i class="fas fa-exchange-alt"></i>
                </label>
                <br />
                <label for="3">
                    <span class="glyphicon glyphicon-cloud-upload">
                        <input type="radio" asp-for="OperationType" id="3" value="3">
                    </span>
                    Перевести на счет группы <i class="fa fa-gift"></i>
                </label>
                <br />
                <span asp-validation-for="OperationType" class="text-danger"></span>
            </div>
            <div class="form-group wrap-input100" style="margin-bottom: 20px;">
                <label asp-for="Amount" class="control-label">Сумма</label>
                <input min="1" value="1" oninput="Trans()" id="input" type="number" asp-for="Amount" class="input100" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        }
        else
        {
            <div class="form-group form-check">
                <label asp-for="OperationType" class="control-label">Вид Транзакции:</label>
                <br />
                <label for="3">
                    <input class="input100" type="hidden" asp-for="OperationType"  value="3">
                    Перевести на счет группы <i class="fa fa-gift"></i>
                </label>
                <span asp-validation-for="OperationType" class="text-danger"></span>
            </div>
            <div class="form-group wrap-input100" style="margin-bottom: 20px;">
                <label asp-for="Amount" class="control-label">Сумма</label>
                <input min="1" value="1"  oninput="Trans2()" id="input" type="number" asp-for="Amount" class="input100" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        }

        <div class="form-group wrap-input100" style="margin-bottom: 20px;">
            <label asp-for="Explanation" class="control-label">Описание</label>
            <input asp-for="Explanation"  value="xxxx" type="text" minlength="4" class="input100" />
            <span asp-validation-for="Explanation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Создать"  asp-route-name="@ViewBag.Name" class="btn btn-primary" />
        </div>
    </form>
</div>

<script>
  function Trans() {
    var x = document.getElementById("input").value;
    var y =@ViewBag.Budget;
    var z =@ViewBag.PersBudget;
          if (document.getElementById("1").checked && Math.abs(x) <= y) {
              document.getElementById("input").setAttribute("min", @ViewBag.MinMinus);
              document.getElementById("input").value = Math.abs(x);
         }
          else if (document.getElementById("2").checked && Math.abs(x) <= y && Math.abs(x) + z < 2000000000) {
              document.getElementById("input").setAttribute("min", @ViewBag.MinMinus);
              document.getElementById("input").value = Math.abs(x);
          }
          else if (document.getElementById("3").checked && Math.abs(x) < z && Math.abs(x) + y < 2000000000) {
              document.getElementById("input").setAttribute("min", @ViewBag.MinPlus);
              document.getElementById("input").value = Math.abs(x);
          }       
        else  document.getElementById("input").value = 1;
    }
    function Trans2() {
        var x = document.getElementById("input").value;
        var y =@ViewBag.Budget;
        var z =@ViewBag.PersBudget;
        if (Math.abs(x) <= z && Math.abs(x) + y < 2000000000) {
           document.getElementById("input").setAttribute("min", @ViewBag.MinPlus);
          document.getElementById("input").value = Math.abs(x);
        }
        else document.getElementById("input").value = 1;
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
