@model Biz_collab.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Детали транзакции</h1>

<div>
    <h4>Транзакция</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cумма
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            Вид транзакции
        </dt>
        @if (Model.OperationType == 1)
        {
            <dd class="col-sm-10">
                Потратить из группового бюджета
            </dd>
        }
        else if (Model.OperationType == 2)
        {
            <dd class="col-sm-10">
                Перевести на свой счет
            </dd>
        }
        else if (Model.OperationType == 3)
        {
            <dd class="col-sm-10">
                Перевести на счет группы
            </dd>
        }
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Explanation)
        </dd>
        @if (Model.Status == false)
        {
            <dt class="col-sm-2">
                Статус:
            </dt>
            <dd class="col-sm-10">
                Ожидание
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Время принятия:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartTime)
            </dd>
        }
        <dt class="col-sm-2">
            Процент За
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YesPercent)
        </dd>
        <dt class="col-sm-2">
            Процент Против
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoPercent)
        </dd>
        @if (ViewBag.Role == "Mod" || ViewBag.Role == "Создатель" || ViewBag.Role == "VIP")
        {
            <dt class="col-sm-10">
                Голоса
            </dt>
            foreach (var v in Model.Votes)
            {
                <dd class="col-sm-10">
                    @v.Client.Login | @if (v.V == true)
                    {<b>За</b> }
                    else
                    {<b>Против</b>} |Сила= @v.P
                </dd>
            }
        }
    </dl>
</div>
<div>
    <a asp-controller="Groups" asp-action="OpenGroup" asp-route-name="@ViewBag.Name">Вернуться в группу</a>
</div>
